# Dart/Flutter
.dart_tool/
build/
*.lock

# IDE
.idea/
*.iml

# OS
.DS_Store

example_app/android/app/google-services.json
example_app/ios/Runner/GoogleService-Info.plist
example_app/lib/firebase_options.dart
firebase-debug.log
