name: Flutter analyze

on:
  pull_request:
    branches:
      - main

jobs:
  check-version:
    name: Flutter analyze
    runs-on: ubuntu-latest

    # Skip if PR title contains "WIP: "
    if: ${{ !contains(github.event.pull_request.title, 'WIP') }}

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          # flutter-version: "3.38.0"
          channel: "stable"

      - name: Show Flutter version
        run: |
          flutter --version

      - name: Cache Flutter dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            **/.dart_tool
          key: ${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.yaml') }}

      - name: Get dependencies
        run: |
          for package in packages/*/; do
            cd $package
            flutter pub get
            cd ../..
          done

      - name: Run "flutter analyze" in each package
        run: |
          for package in packages/*/; do
            cd $package
            flutter analyze
            cd ../..
          done
